@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&display=swap');
/*  font-family: "Dancing Script", cursive; */
* {
    margin:0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: "Inter", sans-serif;
}
/* standard styles start here */
.display-flex{
    display: flex;
}



/* header styles start here */
.header-container {
    width:100%;
    background: linear-gradient(180.00deg, rgb(17, 17, 17),rgba(34, 33, 33, 0.784) 100%);
}
.header-full-width {
    width: 70%;
    margin: 0 auto;
}
.logo {
    color: rgb(230, 83, 60);
    font-size: 36px;
    font-weight: 800;
}
#icon-burger {
    display: none;
}
nav {
    justify-content: space-between;
    padding-top: 50px;
}
.nav-ul-links{
    justify-content: center;
    align-items: center;
    border: 1px solid gray;
    border-radius: 40px;
    padding: 8px 15px 8px 4px;
}
nav ul li {
   list-style:none;
   margin-right: 35px;
}
nav li a {
    text-decoration: none;
    color: white;
    font-size: 1.25rem;
    font-weight: 400px;
}
#home {
    border-radius: 46px;
    background: rgb(230, 83, 60);
    padding: 10px 20px;
}

/* header content area */
.header-content {
    justify-content: center;
    align-items: center;
    gap:60px
}
.header-left-side {
    width:45%;
}
.header-title {
    color: rgb(255, 255, 255);
    font-size: 78px;
    font-weight: 900;
}
#shape {
    font-family: "Dancing Script", cursive;
    font-weight: 600px;
}
.header-text {
    color: rgba(255, 255, 255, 0.5);
    font-size: 16px;
    font-weight: 400;
    margin:28px 0px 20px 0px;
}
/* button styles here */
.main-button {

}
.btn-primary {
    padding: 16px 40px 16px 40px;
    border-radius: 42px;
    background: rgb(230, 83, 60);
    border:none;
    color: white;
    margin-right: 15px;
}
.btn-second {
    padding: 16px 40px 16px 40px;
    border-radius: 42px;
    background-color: rgba(0, 0, 0, 0.696);
    border: 1px solid white;
    color: white;
}
/* header right area */
.header-right-side {
    width: 45%;
    position: relative;
    text-align: center;
}
.banner-image {
    
}
.small-workout-card {
    position:absolute;
    top:30%;
    left:55%;
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 12px;
    backdrop-filter: blur(20px);
    background: rgba(48, 48, 48, 0.54);
    width: 206px;
    height: 96px;
    text-align: center;
    padding-top: 15px;
}
.small-video-tutorial-card {
    position:absolute;
    top:72%;
    left:-8%;

    border: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 12px;
    backdrop-filter: blur(20px);
    background: rgba(48, 48, 48, 0.54);
    width: 206px;
    height: 96px;
    justify-content: center;
    align-items: center;
}
.small-circle{
    padding: 20px;
    margin-right: 10px;
    background: rgb(230, 83, 60);
    border-radius: 50%
}
.small-text {
    color:white;
}
.small-text h4 {
    font-size: 24px;
    font-weight: 600;
}
.small-text p {
    color: rgba(239, 237, 232, 0.65);
    font-size: 16px;
    font-weight: 400;
}