@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&display=swap');
/*  font-family: "Dancing Script", cursive; */
* {
    margin:0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: "Inter", sans-serif;
    background-color: black;
}
/* standard styles start here */
.display-flex{
    display: flex;
}



/* header styles start here */
.header-container {
    width:100%;
    background: linear-gradient(180.00deg, rgb(15, 15, 15),rgba(29, 29, 29, 0.784) 70%);
}
.header-full-width {
    width: 70%;
    margin: 0 auto;
}
.logo {
    color: rgb(230, 83, 60);
    font-size: 36px;
    font-weight: 800;
}
#icon-burger {
    display: none;
}
nav {
    justify-content: space-between;
    padding-top: 50px;
}
.nav-ul-links{
    justify-content: center;
    align-items: center;
    border: 1px solid gray;
    border-radius: 40px;
    padding: 8px 15px 8px 4px;
}
nav ul li {
   list-style:none;
   margin-right: 35px;
}
nav li a {
    text-decoration: none;
    color: white;
    font-size: 1.25rem;
    font-weight: 400px;
}
#home {
    border-radius: 46px;
    background: rgb(230, 83, 60);
    padding: 10px 20px;
}

/* header content area */
.header-content {
    justify-content: center;
    align-items: center;
    gap:60px
}
.header-left-side {
    width:60%;
}
.header-title {
    color: rgb(255, 255, 255);
    font-size: 78px;
    font-weight: 900;
}
#shape {
    font-family: "Dancing Script", cursive;
    font-weight: lighter;
}
.header-text {
    color: rgba(255, 255, 255, 0.5);
    font-size: 16px;
    font-weight: 400;
    margin:28px 0px 20px 0px;
}
/* button styles here */
.main-button {

}
.btn-primary {
    padding: 16px 40px 16px 40px;
    border-radius: 42px;
    background: rgb(230, 83, 60);
    border:none;
    color: white;
    margin-right: 15px;
}
.btn-second {
    padding: 16px 40px 16px 40px;
    border-radius: 42px;
    background-color: rgba(0, 0, 0, 0.696);
    border: 1px solid white;
    color: white;
}
/* header right area */
.header-right-side {
    width: 45%;
    position: relative;
    text-align: center;
}
.banner-image {
    padding-top: 20px;
    margin-bottom: -4px;
}
.small-workout-card {
    position:absolute;
    top:30%;
    left:55%;
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 12px;
    backdrop-filter: blur(20px);
    background: rgba(48, 48, 48, 0.54);
    width: 206px;
    height: 96px;
    text-align: center;
    padding-top: 15px;
}
.small-video-tutorial-card {
    position:absolute;
    top:72%;
    left:-8%;
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 12px;
    backdrop-filter: blur(20px);
    background: rgba(48, 48, 48, 0.54);
    width: 206px;
    height: 96px;
    justify-content: center;
    align-items: center;
}
.small-circle{
    padding: 20px;
    margin-right: 10px;
    background: rgb(230, 83, 60);
    border-radius: 50%
}
.small-text {
    color:white;
}
.small-text h4 {
    font-size: 24px;
    font-weight: 600;
}
.small-text p {
    color: rgba(239, 237, 232, 0.65);
    font-size: 16px;
    font-weight: 400;
}

/* change your habits section start here */

.habits-container{
    /* width: 100%; */
    background-color: black;
}
.habits-full-width {
    width: 70%;
    margin: 0 auto;
    padding-bottom: 100px;
}
.habits-content {
    width: 50%;
    margin: 0 auto;
    text-align: center;
    padding-top: 50px;
    padding-bottom: 50px;
}
.habits-container h3 {
    color: rgb(255, 255, 255);
    font-size: 45px;
    margin-bottom: 25px;
}
.habits-container p {
    color: rgba(239, 237, 232, 0.65);
    font-size: 16px;
    font-weight: 400;
    /* margin-top: 25px; */
}
.cards {
    justify-content: space-between;
    align-items: center;
}
.card {
    color: white;;
    /* align-items: center; */
    text-align: center;
}
.card img {
    border-radius: 50%;
}
.card-content {
    margin-top:15px;
}
.card-content p {
    margin-top:10px;
    line-height: 19px;
}

/* Run Extra mile easily styles start here */
/* . {

    border: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 12px;
    backdrop-filter: blur(20px);
    background: rgba(48, 48, 48, 0.54);
    width: 206px;
    height: 96px;
    justify-content: center;
    align-items: center;
} */

.run-extra-mile-container{
    width: 100%;
    background-color: black;
    padding-bottom: 100px;
}
.run-extra-mile-width {
    width: 70%;
    margin: 0 auto;
    padding: 30px;
    justify-content: center;
    align-items: center;
    border-radius: 12px;
    backdrop-filter: blur(20px);
    background: rgba(48, 48, 48, 0.54);
    gap:100px;
    
}
/* .run-extra-mile-content {
    margin-right:100px;
} */
.run-extra-mile-content h3 {
    color: rgb(255, 255, 255);
    font-size: 45px;
    margin-bottom: 25px;
}
.run-extra-mile-content p {
    color: rgba(239, 237, 232, 0.65);
    font-size: 16px;
    font-weight: 400;
    margin-bottom: 20px;
}
.running-btn {
    padding: 16px 60px 16px 60px;
    border-radius: 42px;
    font-size: 20px;
    background: rgb(230, 83, 60);
    border:none;
    color: white;
    margin-right: 15px;
}
.run-image{
    border-radius: 16px;
    width: 100%;
    height: 320px;
    background-image: url("../images/run.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;

}

/* traininge xercise styles start here */
.training-exercise-container{
    width: 70%;
    margin: 0 auto;
    margin-bottom: 50px;
}
.training-exercise-content h2 {
    color: white;
    font-size: 45px;
    margin-bottom: 20px;

}
.training-exercise-content p {
    color: rgba(239, 237, 232, 0.65);
    font-size: 16px;
    font-weight: 400;
    margin-bottom: 20px;
}
.training-exercise-steps {
    display: grid;
    height: 500px;
    grid-template-columns: repeat(12,1fr);
    grid-template-rows: repeat(12,1fr);
    /* gap:10px; */
}

.exercise-1 {
    grid-column: 1/span 3;
    grid-row: 1 /span 6;
    background-image:url("../images/exercise1.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-color: rgba(6, 255, 210, 0.5);
    background-blend-mode: overlay;
}

.exercise-2 {
    grid-column: 4/span 7;
    grid-row: 1/span 6;
    background-image: url("../images/exercise2.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-color: rgba(255, 0, 0, 0.3);
    background-blend-mode: overlay;
}
/* .exercise-2 img {
    width: 100%;
} */

.exercise-3 {
    grid-column: 10/span 3;
    grid-row: 1/span 6;
    background-image: url("../images/exercise3.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-color: rgba(0, 0, 0, 0.5);
    background-blend-mode: overlay;
}
.exercise-4 {
    grid-column: 1/span 5;
    grid-row: 7/span 6;
    background-image: url("../images/exercise4.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-color: rgba(0, 0, 0, 0.5);
    background-blend-mode: overlay;
}
.exercise-5 {
    grid-column: 6/span 3;
    grid-row: 7/span 6;
    background-image: url("../images/exercise5.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-color: rgba(66, 255, 0, 0.3);
    background-blend-mode: overlay;
}
.exercise-6 {
    grid-column: 9/span 4;
    grid-row: 7/span 6;
    background-image: url("../images/exercise6.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-color: rgba(0, 71, 255, 0.3);
    background-blend-mode: overlay;
}
/* bmi-calculator-container start here */

.bmi-calculator-content {
    width: 50%;
    margin: 70px auto;

}
.bmi-calculator-content h2 {
    color: white;
    font-size: 45px;
    margin-bottom: 15px;
}
.bmi-calculator-content p {
    color: rgba(239, 237, 232, 0.65);
    font-size: 16px;
    font-weight: 400;
}
.bmi-content-width {
    backdrop-filter: blur(20px);
    background: rgba(48, 48, 48, 0.54);
}
.bmi-chart-calculator-container {
    width: 70%;
    margin:0 auto;
    display: flex;
    justify-content: space-between;
    /* align-items: center; */
    gap:20px;
    height: 500px;
}
.bmi-chart {
    width: 45%;
    padding-top: 52px;
}
.bmi-chart h4 {
    color: rgb(255, 255, 255);
    font-size: 28px;
    font-weight: 900;
    margin-bottom: 52px;
}
table {
    border-collapse: collapse;
    border: 1px solid rgba(255, 255, 255, 0.1);
}
th,td {
    padding: 18px;
    border: 1px solid rgba(255, 255, 255, 0.1);
}
th {
    color: rgb(255, 255, 255);
    font-family: Inter;
    font-size: 16px;
    font-weight: 500;
    line-height: 120%;
    letter-spacing: 0%;
    text-align: left;
}
td {
    color: rgba(255, 255, 255, 0.5);
    font-family: Inter;
    font-size: 14px;
    font-weight: 400;
}
.bmi-calculator {
    width: 55%;
    padding-top: 52px;
}
.bmi-calculator h4 {
    color: rgb(255, 255, 255);
    font-size: 28px;
    font-weight: 900;
    margin-bottom: 14px;
}
.bmi-calculator p {
    color: rgba(255, 255, 255, 0.5);
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
}
.input-text {

}
input {
    width: 250.5px;
    height: 48px;
    margin-top: 8px;
    margin-right: 8px;
    border-radius: 8px;
    background: rgba(255, 255, 255, 0.1);
    border:none;
}
::placeholder {
    padding-left: 15px;
}
.select-option {
    width: 250.5px;
    height: 48px;
    margin-top: 8px;
    margin-right: 8px;
    border-radius: 8px;
    background: rgba(255, 255, 255, 0.1);
    border:none;
    color:rgba(255, 255, 255, 0.6);
    padding-left:10px;
    margin-right:10px;
}
.select-activity {
    width: 515px;
    height: 48px;
    margin-top: 8px;
    margin-right: 8px;
    border-radius: 8px;
    background: rgba(255, 255, 255, 0.1);
    border:none;
    color:rgba(255, 255, 255, 0.6);
    padding-left:10px;
    margin-right:10px;
    margin-bottom: 2.15rem;
}
#calculator-btn {
    padding: 16px 60px 16px 60px;
    border-radius: 42px;
    background: rgb(230, 83, 60);
    border:none;
    color: white;
    margin-right: 15px;
    font-size: 18px;
}
/* meet our team styles start here */
.meet-our-team-container {
    width: 70%;
    margin: 80px auto;
}
.meet-our-team-content {
    text-align: center;
    margin-bottom: 50px;
}
.meet-our-team-content h2 {
    color: white;
    font-size: 45px;
    margin-bottom: 20px;
}
.meet-our-team-content p {
    color: rgba(239, 237, 232, 0.65);
    font-size: 16px;
    font-weight: 400;
    margin-bottom: 20px;
}
.our-trainer-container {
    backdrop-filter: blur(20px);
    background: rgba(48, 48, 48, 0.54);
    border-radius: 20px;
    padding: 20px;

}
.our-trainer {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap:20px;
    height: 600px;
}

.trainer-1 {
    background-image: url("../images/trainer1.png");
    background-position: center;
    background-size: cover;
    background-color: rgba(0, 0, 0, 0.200);
    background-blend-mode: overlay;
    border-radius: 15px;

}
.trainer-2 {
    background-image: url("../images/trainer2.png");
    background-position: center;
    background-size: cover;
    background-color: rgba(0, 0, 0, 0.200);
    background-blend-mode: overlay;
    border-radius: 15px;
}
.trainer-3 {
    background-image: url("../images/trainer3.png");
    background-position: center;
    background-size: cover;
    background-color: rgba(0, 0, 0, 0.200);
    background-blend-mode: overlay;
    border-radius: 15px;
}
.trainer-4 {
    background-image: url("../images/trainer4.png");
    background-position: center;
    background-size: cover;
    background-color: rgba(0, 0, 0, 0.200);
    background-blend-mode: overlay;
    border-radius: 15px;
}
.trainer-5 {
    background-image: url("../images/trainer5.png");
    background-position: center;
    background-size: cover;
    background-color: rgba(0, 0, 0, 0.200);
    background-blend-mode: overlay;
    border-radius: 15px;
}
.trainer-6 {
    background-image: url("../images/trainer6.png");
    background-position: center;
    background-size: cover;
    background-color: rgba(0, 0, 0, 0.200);
    background-blend-mode: overlay;
    border-radius: 15px;
}

/* .trainer img{
    border-radius: 10px;
    width: 100%;
    height: 100%;
}
*/
.trainer-content {
    padding-top: 70%;
    margin-left: 20px;
}
.trainer-content h4 {
    color:white;
}
.trainer-content p {
    color: rgba(239, 237, 232, 0.65);
    font-size: 14px;
    margin-top: 5px;
} 

/* footer container styles start here */

.footer-container {
    backdrop-filter: blur(20px);
    background: rgba(48, 48, 48, 0.54);

}
.footer-content {
    width: 70%;
    margin: 0 auto;
}
.footer-text-area {
    display:flex;
    justify-content: space-between;
    align-items: center;
    height: 400px;
}
.fitness {
    width:40%;
}
.fitness h4 {
    font-size: 55px;
    margin-bottom: 20px;
}
.fitness p {
    color:rgba(239, 237, 232, 0.65);
    font-size: 14px;
    margin-top: 15px;
    line-height: 25px;
}
.footer-getstarted-middle h4 {
    color: white;
    font-size: 35px;
    margin-bottom: 20px;
}
.footer-getstarted-middle li {
    list-style: none;
    color: rgba(239, 237, 232, 0.65);
    line-height: 40px;
    font-size: 20px;
}
.footer-getstarted-end {

}
.footer-bottom {
    text-align: center;
}
.hr {
   border: 0.1px solid rgba(239, 237, 232, 0.216);
}
.footer-bottom p {
    color: rgba(239, 237, 232, 0.65);
    font-size: 14px;
    margin-top: 20px;
    padding-bottom: 20px;
}